:root
{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

html,body
{
    height: 100%;
    margin: 0;
}

.container
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

#channel-admin
{
    width: 20%;
    border: 2px solid;

}

#channel-messenger
{
    width: 80%;
    border: 2px solid;

}

.server-div
{
    border: 2px solid;
}

.create-channel-div
{
    border: 2px solid;
}

.choose-channel-div
{
    border: 2px solid;
}

h3
{
    margin: 2px auto;
}

h5
{
    margin: 2px;
}