:root
{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container
{
    display: flex;
    flex-direction: row;
}

#channel-admin
{
    border: 2px solid;
}

#channel-messenger
{
    border: 2px solid;
}

.server-div
{
    border: 2px solid;
}

h3
{
    margin: 2px auto;
}

.socket-resp
{
    margin: 2px;
}