<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </head>

    <body>
        <main>
            <div class="container">
                <div id="channel-admin">
                    <div id="new-user" style="display: none;">
                        <form action="" method="post">
                            <h2>Hi there! Looks like you're new here.. Enter your handle</h2>
                            <input type="text" name="handle">
                            <input type="submit" value="Register" disabled>
                        </form>
                    </div>
        
                    <div id="old-user" style="display: none;">
                        <h2 id="welcome-text">Hi there, </h2>
                        
                        
                        <div class="server-div">
                            <h3>Server messages</h3>
                            <h5 id="channel-msg">&nbsp</h5>
                            <div id="server-messages">
    
                            </div>
                        </div>
                        
                        <div class="create-channel-div">
                            <form id="create-channel" action="" method="post">
                                <h3>Create a channel</h3>
                                <h5 id="create-msg">&nbsp</h5>
                                <input type="text" name="channel" id="channel-name">
                                <input type="submit" value="Create" disabled>
                            </form>
                        </div>

                        <div class="choose-channel-div">
                            <h3>Connect to a channel</h3>
                            <select id="select-channel"></select>
                            <button type="button" id="button-chan-connect" disabled>Connect</button>
                        </div>
                    </div>
                </div>
    
                <div id="channel-messenger" style="display: none;">
                    <!--<h5 class="socket-resp" id="channel-msg">&nbsp</h5>
                    <div class="server-div">
                        <h3>Server messages</h3>
                        <div id="server-messages">

                        </div>
                    </div>-->

                    <div class="chat-div">
                        <h3>Channel messages</h3>
                        <div id="messages-box">

                        </div>
                        <form id="messages-form" action="" method="post">
                            <input type="text" id="user-msg">
                            <input type="submit" value="Send" disabled>
                        </form>
                    </div>



                    <div id="disconnected-div">
                        <button type="button" id="button-chan-disconnect" disabled>Disconnect</button>
                    </div>
                </div>
            </div>

        </main>
    </body>
</html>